@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

.request-container {
  display: grid;
  grid-template-columns: 2fr 10fr;
  background-color: #eeeeee;
}
.request-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Fira Sans", sans-serif;
  margin-bottom: 3%;
}
.request-header {
  margin-top: 2%;
  margin-bottom: 0;
}
.request-form {
  margin-top: 1%;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
  width: 80%;
  height: 630px !important;
}
.request-radio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.send-request-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4%;
}
.request-label {
  font-weight: 500;
  padding: 5px;
  font-family: "Fira Sans", sans-serif;
}
